* {
  box-sizing: border-box;
}

.grid {
  border: 3px solid;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-areas: 
  'a a . e . . h h h h'  
  '. . . e . . . . . .'  
  'i . . e . g g g . d' 
  'i . . . . . . . . d'  
  'i. . . . . . . . .'  
  'i . . . . c . . . f'  
  '. . . . . c . . . f'  
  'b b . . . . . . . f'  
  '. . . . . . . . . .'  
  '. . . . j j j j j j' ;
}

.gridItem1 {
  grid-area: a;
  background-color: #800080;
}

.gridItem2 {
  grid-area: b;
  background-color: #800080;
}

.gridItem3 {
  grid-area: c;
  background-color: #800080;
}

.gridItem4 {
  grid-area: d;
  background-color: #800080;
}

.gridItem5 {
  grid-area: e;
  background-color: #00FF00;
}

.gridItem6 {
  grid-area: f;
  background-color: #00FF00;
}

.gridItem7 {
  grid-area: g;
  background-color: #00FF00;
}

.gridItem8 {
  grid-area: h;
  background-color: #0000FF;
}

.gridItem9 {
  grid-area: i;
  background-color: #0000FF;
}

.gridItem10 {
  grid-area: j;
  background-color: #FF0000;
}